// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
$fuente_principal: "Encode Sans Semi Expanded", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cafe:#c08009;
$naranja: #c76c30;
$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$negro: #140a04d4;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900