@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.tablet{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    .imagen{
        height: 20rem;
        background-image: url(../img/BARBER.JPG);
        background-size: cover;
        background-position: center;
        @include m.tablet{
            height: auto;
            min-height: 100vh;
        }
    }
    .app{
        width: 95%;
        margin: 0 auto;
        padding: 2rem 0;
    }
}

.barra{
    margin-bottom: 7rem;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .boton{
        @include m.boton(v.$negro,v.$blanco);
        margin:0;
    }
}